<template>
    <v-btn
        color="primary"
        dark
        @click="goBack"
    >
        Back
    </v-btn>
</template>

<script>
    export default {
        name: "BackButtonComponent",
        methods: {
            goBack() {
                this.$router.go(-1)
            }
        }
    }
</script>

<style scoped>

</style>
