<template>
    <div>

        <div class="text-centered"
             v-if="loading"
        >
            <v-progress-circular
                indeterminate
                centered
                color="primary"
            ></v-progress-circular>
        </div>
    <v-form v-else>
        <v-container>
            <v-card>
                <v-row class="d-flex flex-column align-center">
                    <v-col
                        cols="12"
                    >
                        <v-text-field
                            v-model="formData.your_name"
                            :counter="10"
                            :error-messages="errors.your_name"
                            @input="clearInput('your_name')"
                            label="Your name"
                            outlined
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col
                        cols="12"
                    >
                        <v-text-field
                            v-model="formData.friend_name"
                            :counter="20"
                            :error-messages="errors.friend_name"
                            @input="clearInput('friend_name')"
                            label="Friend Name"
                            outlined
                            required
                        ></v-text-field>
                    </v-col>

                    <v-col
                        cols="12"
                    >
                        <v-textarea
                            v-model="formData.subject"
                            :counter="100"
                            :error-messages="errors.subject"
                            @input="clearInput('subject')"
                            label="Subject"
                            outlined
                            required
                        ></v-textarea>
                    </v-col>

                    <v-col
                        cols="12"
                    >
                        <v-text-field
                            v-model="formData.to_email"
                            :counter="20"
                            :error-messages="errors.to_email"
                            @input="clearInput('to_email')"
                            label="E-mail to"
                            outlined
                            required
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col class="d-flex justify-center">
                        <back-button-component></back-button-component>
                        <v-btn
                            color="error"
                            @click="submitForm()"
                        >
                            Submit
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card>
        </v-container>
        <v-snackbar
            v-model="snackbar"
            :value="true"
            absolute
            centered
            color="deep-purple accent-4"
            elevation="24"
        >
            {{ text }}

            <template v-slot:action="{ attrs }">
                <v-btn
                    color="pink"
                    text
                    v-bind="attrs"
                    @click="snackbar = false"
                >
                    Close
                </v-btn>

            </template>
        </v-snackbar>
    </v-form>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import {mapActions} from 'vuex';
    import BackButtonComponent from "./BackButtonComponent";

    export default {
        name: "FormComponent",
        components: {BackButtonComponent},
        computed: {
            ...mapState('errors', ['errors']) // errors.js filled array with errors
        },
        mounted() {
            console.log('form component mounted');
        },
        data() {
            return {
                formData: {
                    your_name: '',
                    friend_name: '',
                    subject: '',
                    to_email: '',
                },
                snackbar: false,
                text: 'Mail sent',
                loading: false,
            }
        },
        methods: {
            ...mapActions('errors', ['clearErrors']),
            submitForm() {
                    this.loading = true;
                axios.post('/mail/store', this.formData).then(res => {
                    this.snackbar = true;

                }).catch(e => {

                    console.log('catch')
                }).finally(()=>{
                    this.loading = false;
                });
            },
            clearInput(fieldName) {
                if (this.errors[fieldName]) {
                    this.clearErrors(fieldName);
                }
            }

        }
    }
</script>

<style scoped>

</style>
