<template>
    <div>

    <v-card>
        <v-card-title> HELLO </v-card-title>
        <v-card-text>
            THIS IS HOME PAGE, Please, click on "card in the na bar or click the button!
        </v-card-text>
        <v-card-actions class="d-flex justify-end">
            <v-btn
                color="error"
                dark
                :to="{path: '/card'}"
            >
                Go to card form
            </v-btn>
        </v-card-actions>
    </v-card>

    </div>
</template>

<script>
    export default {
        name: "HomeComponent"
    }
</script>

<style scoped>

</style>
