<template>
    <v-navigation-drawer app permanent dark>
        <v-list-item>
            <v-list-item-content>
                <v-btn :to="{path: '/card'}">
                    Card
                </v-btn>
            </v-list-item-content>
            <v-list-item-content>
                <v-btn @click="logout">
                    Logout
                </v-btn>
            </v-list-item-content>
        </v-list-item>
        <!-- -->
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: "Navigation",

        mounted() {
            console.log('Navigation')
        },
        methods:{
            logout(){
                axios.post('/logout').then(res => {
                    location.href = '/login';
                }).catch(e => {
                    console.log(e)
                })
            }
        }
    }
</script>

<style scoped>

</style>
